<div class="google-translate-container text-end ">
  <div id="background">
    <% if user_signed_in? %>
      <%=link_to "Hey, #{current_user.full_name}",users_profile_index_path%>
    <% else %>
      Hey Visitor !
    <% end %>
  </div>
  <div id="google_translate_element"></div>
</div>