#google_translate_element select{
  background:#f6edfd;
  color:#383ffa;
  border: none;
  border-radius:3px;
  padding:6px 8px;
  font-size: 1rem;
  margin-right: -3.438rem;
  }
  
/*google translate link | logo */
.goog-logo-link{
  display:none!important;
}
.goog-te-gadget{
  color:transparent!important;
}
  
/* google translate banner-frame */
  
.goog-te-banner-frame{
  display:none !important;
}
  
#goog-gt-tt, .goog-te-balloon-frame{display: none !important;}
.goog-text-highlight { background: none !important; box-shadow: none !important;}

.google-translate-container{
  background: linear-gradient(to right, #669beb 0%, #f9c11a 100%);
  position: relative;
}
#background {
  position: absolute;
  top: 0.2rem;
  left: 1.4rem;
  bottom: 0;
  font-size: larger;
  overflow: hidden;
  color: white;
  font-weight: 600;
}

#background a{
  text-decoration: none;
  color: white;

}