
/* Below CSS is for scrap options */

.label-class {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;

}
.main-container{
  display: flex;
  justify-content: center;
  margin:auto !important;
  
}
.raise-btn{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.iteam-card{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.items-name{
  font-size:x-large;
  margin-top:1rem;
  padding-left:0.8rem;
}
.label-span-scrap-class {
  /* position: relative; */
  border: 0.2rem solid #d4d4d4;
  border-radius: 1.2rem;
  transition: 0.3s;
  height: 11rem;
  width: 14rem;
  color: #414141;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  
}

.label-input-checkbox {
  display: none;
}
label input:checked + span {
  border-color: #0d6efd!important;
  color: #0d6efd!important;
  background-color: #8db5f1!important;

}

@media (max-width:989px ) {
  .label-span-scrap-class{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .desc{
    margin-top:0.4rem;
  }
}


@media (max-width:577px) {
  .label-span-scrap-class {
    justify-content: center;
    align-items: center;
    height: 8rem;
    width: 8.8rem;
  }
  .items-name{
    margin-top:1rem;
    padding-left:0rem;
  }
  .desc{
    font-size:0.6rem;
  }
}