<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.full_name %>,</h1>
   
    <p>There was a request to change your password!</p>

    <p>If you did not make this request then please ignore this email.</p>
    <br>
    <p> Otherwise, please click this link to change your password: </p>
    <a href="<%= @set_new_password %>">set new password</a>
    <br>
    <strong>This link is only validate for 24 hours and it can be only used once.</strong>
    <br>
    ----------------------------------------

    <h3>kabadiwala</h3>
    Thanks for using our service.
   
  </body>
</html>